body {
    font-family: 'Roboto' sans-serif;
    background-image: url(images/11632.jpg);
}
/* navbar styles */
.navbar{
    background-image: url('https://pngimg.com/uploads/pizza/pizza_PNG44089.png');
    display: flex;
    align-items: center;
    padding-bottom: 650px;
    justify-content: center;
    top: 0px;
    background-color: green;
    overflow: hidden;
    cursor: pointer;
    
    
}
.nav-text{
    color: yellow;
}
.list{
    width: 50%;
    display: flex;
    position: sticky;
}
li{
    display: inline;
    padding: 20px 20px;
}
a{
    color: white;
    text-decoration: none;
}

/* about us styles */
.about{
    text-align: center;
}
.about p{
    font-size: 20px;
    font-family:sans-serif ;
}

/* pizza images styles */
